.icon-do-analise {
    & > * {
        animation: 1350ms infinite alternate icon-do-analise-animation;
    }

    & > *:nth-child(1) {
        animation-delay: 0ms;
    }

    & > *:nth-child(2) {
        animation-delay: 450ms;
    }

    & > *:nth-child(3) {
        animation-delay: 900ms;
    }
}

@keyframes icon-do-analise-animation {
    0%,
    20%,
    80%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

/* dropdown */

.dropdown {
    svg {
        color: rgb(var(--primary)) !important;
    }

    &.dropdown--disabled svg {
        color: rgb(var(--secondary-500)) !important;
    }

    &.dropdown--overlay-visible svg {
        rotate: 180deg;
    }
}

/* load icon */

.icon-load {
    & > * {
        animation: 1600ms infinite alternate icon-load-animation;
    }

    & > *:nth-child(1) {
        animation-delay: 0ms;
    }

    & > *:nth-child(2) {
        animation-delay: 150ms;
    }

    & > *:nth-child(3) {
        animation-delay: 300ms;
    }

    & > *:nth-child(4) {
        animation-delay: 450ms;
    }

    & > *:nth-child(5) {
        animation-delay: 600ms;
    }

    & > *:nth-child(6) {
        animation-delay: 750ms;
    }

    & > *:nth-child(7) {
        animation-delay: 900ms;
    }

    & > *:nth-child(8) {
        animation-delay: 1050ms;
    }
}

@keyframes icon-load-animation {
    0%, 100% {
        opacity: 0.6;
    }
    25%, 75% {
        opacity: 1;
    }
}
