:root {
    --scroll-width: 4px;
    --scroll-color: rgb(var(--secondary-500));
}

::-webkit-scrollbar {
    width: var(--scroll-width);
    height: var(--scroll-width);
}


::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: calc(var(--scroll-width));
    border: solid 0 var(--scroll-color);
}
